<footer>
  <section class="footer-updated">
    <div class="container">
      <section class="newsletters mb-5">
        <div class="container newsletter-bg">
          <div class="row">
            <div class="col-md-6 col-12 p-0">
              <div class="newsletters-left-sec">
                <img class="mask-group-icon" alt="" src="../../assets/images/about/mask-group.png">
                <div class="subscribe-to-our-newsletters-parent">
                  <div class="subscribe-to-our">Subscribe to our<br>Newsletters</div>
                  <div class="and-because-your">And because your company is unique, <span class="break-word">you will
                      need an extensible identity</span> solution.</div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-12">
              <div class="newsletters-right-sec">
                <h3>Subscribe Now</h3>
                <div class="newsletters-right-sec-input">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your work mail">
                  <button type="button" class="btn btn-primary">Submit</button>
                </div>
                <p>you will receive every news and pro tips</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="row">
        <div class="col-lg-3">
          <div class="logo_area">
            <a href="./"><img src="../../assets/images/logo.png" class="logo-footer" alt="Logo"></a>
            <!-- <img src="assets/images/logo.png" class="img-fluid" alt="footer-logo">					 -->
          </div>
          <div class="social-contact">
            <h5>Social Media</h5>
          </div>
          <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
          <div class="social-address">
            <i class="bi bi-linkedin social-media-icons"></i>
            <i class="bi bi-instagram social-media-icons"></i>
            <i class="bi bi-facebook social-media-icons"></i>
            <i class="bi bi-twitter social-media-icons"></i>
            <i class="bi bi-youtube social-media-icons"></i>
            <!-- <img src="../../assets/images/footer/social1.png" class="img-fluid" alt="">
            <img src="../../assets/images/footer/social2.png" class="img-fluid" alt="">
            <img src="../../assets/images/footer/social3.png" class="img-fluid" alt="">
            <img src="../../assets/images/footer/social4.png" class="img-fluid" alt="">
            <img src="../../assets/images/footer/social5.png" class="img-fluid" alt="">
            <i class="bi bi-0-circle-fill"></i> -->
          </div>
        </div>
        <div class="col-sm-2">
          <div class="footer-head">
            <h4>Stay Connected</h4>
            <div class="our_services_ul_icons">
              <a href="">
                <p>Stay Connected</p>
              </a>
              <a href="">
                <p>Products</p>
              </a>
              <a href="">
                <p>Tenders</p>
              </a>
            </div>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="footer-head">
            <h4>Contact Us</h4>
            <div class="our_services_ul_icons">
              <a href="">
                <p>Inquiry</p>
              </a>
              <a href="">
                <p>Service Support</p>
              </a>
              <a href="">
                <p>FAQs</p>
              </a>
            </div>
          </div>
        </div>
        <div class="col-sm-5">
          <div class="footer-head-address">
            <h4>Address</h4>
            <div class="footer-address">
              <div class="addressicon">
                <img src="../../assets/images/footer/addressicon.png" alt="">
              </div>
              <div class="content">
                <h5>Delhi Warehouse :</h5>
                <p>Plot no . 56/18/1, Ground Floor, Swarn Park, Mundka, Delhi-110041</p>
              </div>
            </div>
            <div class="footer-address">
              <div class="addressicon">
                <img src="../../assets/images/footer/addressicon.png" alt="">
              </div>
              <div class="content">
                <h5>Navi Mumbai :</h5>
                <p>A-88, MIDC Taloja, Taloja Industrial Area, Distt. Raigad , Navi Mumbai -410208</p>
              </div>
            </div>
            <div class="footer-address">
              <div class="addressicon">
                <img src="../../assets/images/footer/phoneicon.png" alt="">
              </div>
              <div class="content">
                <p>+91 9717817357</p>
              </div>
            </div>
            <div class="footer-address">
              <div class="addressicon">
                <img src="../../assets/images/footer/emailicon.png" alt="">
              </div>
              <div class="content">
                <p>info@avighnasteel.in</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="bottom-footer-area">
    <div class="bottom_area_footer">
      <div class="bottom_left_area" style="width:100%;">
        <ul>
          <li>Shipping & Returns</li>
          <li>Privacy Policy</li>
          <li>Copyright © 2023 Avighna Steel</li>
        </ul>
      </div>
      <div class="bottom_right_area">
        <img src="../../assets/images/about/bottom-footer-area1.png" alt="" class="img-fluid">
        <img src="../../assets/images/about/bottom-footer-area2.png" alt="" class="img-fluid">
        <img src="../../assets/images/about/bottom-footer-area3.png" alt="" class="img-fluid">
        <img src="../../assets/images/about/bottom-footer-area4.png" alt="" class="img-fluid">
        <img src="../../assets/images/about/bottom-footer-area5.png" alt="" class="img-fluid">
      </div>
    </div>
  </section>
</footer>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
<script type="text/javascript" src="./assets/js/jquery.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="../../assets/js/common.js"></script>
</body>
</html>
